body {
    display: flex; 
    background: url('Background_Forgotten.jpg'); /* Pulled from https://unsplash.com/ this is an opensource website, all resources are free to use https://unsplash.com/license*/ 
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: yellow;
    
}
.input_box {
    width: 90%;
    height: 10px;
    margin: 50px 0;
    color: yellow;    
    
}

input { 
    width: 70%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 3px solid black;
    border-radius: 25px;
    padding: 15px;
    font-size: 16px;
    color: yellow;
}

.Submit{
align-content: center;
} 

.Submit .SubmitVal{
    width: 50%;
    border: 2px solid black;
    border-radius: 60px;
    background-color: green;
    text-decoration-color: black;


}