body {
    display: flex; 
    background: url('Background_Create.jpg'); /* Pulled from https://unsplash.com/ this is an opensource website, all resources are free to use https://unsplash.com/license*/ 
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
    #CreateBox {
        display: flex;
        flex-direction: column;
    }
    
    .input_box {
        margin-bottom: 10px;
    }
    
    input {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    
    .SubmitVal {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        color: white;
        cursor: pointer;
    }
    